<h2>
  <%= @selected_photo.caption %>
</h2>
<div class="row">
  <img src="<%= @selected_photo.source %>" width="800">
</div>
<div class="row ">
  <a href="http://localhost:3000/photos">Go Back</a>
</div>
